@import "/src/styles/variable.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&family=Itim&display=swap");

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98vw;
  font-family: "Itim", cursive;

  .contentBox {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    width: 900px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 36px;
    gap: 10px;
    @media (max-width: map-get($breakpoints, lg)) {
      width: 650px;
      border-radius: 25px;
    }

    .contentRightBox {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      background-color: #f4fff086;
      border-radius: 15px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

      img {
        margin-top: 10px;
        width: 100px;
        height: 100px;
        object-fit: contain;
        padding: 10px;
        border-radius: 15px;
      }

      .From {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        .buttonInput {
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 10px;
          width: 300px;
          margin-top: 10px;
          @media (max-width: map-get($breakpoints, lg)) {
            width: 200px;
          }
          &:hover {
            cursor: pointer;
          }

          input {
            width: 300px;
            height: 40px;
            border-radius: 10px;
            background-color: #fff;
            border: none;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            @media (max-width: map-get($breakpoints, lg)) {
              width: 200px;
            }

            &:focus {
              border: solid blue;
            }
          }
        }
        .button {
          margin-top: 20px;
          width: 120px;
          height: 45px;
          box-shadow: 0px 0px 20px rgba(1, 236, 157, 0.6);
          background-color: #fff;
          border-radius: 10px;
          color: #47e89a;
          font-size: larger;
          font-weight: 400;
          &:hover {
            cursor: pointer;
            background-color: #47e89aa4;
            color: #fff;
          }
        }
        p {
          text-align: center;
          color: #ff3131;
          font-weight: 600;
        }
      }
    }
    .contentLeftBox {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      background-color: #f4fff0bc;
      border-radius: 15px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      justify-content: end;
      @media (max-width: map-get($breakpoints, md)) {
        display: none;
      }
      @media (max-width: map-get($breakpoints, lg)) {
        justify-content: center;
      }

      .logoLogin {
        display: flex;
        width: 300px;
        object-fit: cover;
        @media (max-width: map-get($breakpoints, lg)) {
          width: 200px;
        }
      }

      .verifying {
        display: flex;
        width: 450px;
        object-fit: cover;
        margin-bottom: 50px;
        @media (max-width: map-get($breakpoints, lg)) {
          width: 300px;
        }
      }
    }
  }
}
