@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&family=Itim&display=swap");
.react-calendar {
  display: flex;
  flex-direction: column;
  width: 350px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  align-items: center;
  padding: 10px;
  text-align: center;
  gap: 5px;
  font-family: "Itim", cursive;
}
.react-calendar__navigation button {
  color: #81e19f;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
  font-family: "Itim", cursive;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}
.react-calendar__month-view__days__day--weekend {
    color: #d10000;
    font-family: "Itim", cursive;
   }
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #81e19f;
  border-radius: 6px;
  font-family: "Itim", cursive;
}
.react-calendar__tile--now {
  background: #81e19f33;
  border-radius: 6px;
  font-weight: bold;
  color: #81e19f;
  font-family: "Itim", cursive;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #81e19f33;
  border-radius: 6px;
  font-weight: bold;
  color: #81e19f;
  font-family: "Itim", cursive;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #81e19f;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  font-family: "Itim", cursive;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #81e19f;
  color: white;
  font-family: "Itim", cursive;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #81e19f;
  border-radius: 0;
  font-family: "Itim", cursive;
}
.react-calendar__tile--rangeStart {
  border-radius: 6px;
  background: #81e19f;
  color: white;
  font-family: "Itim", cursive;
}
.react-calendar__tile--rangeEnd {
  border-radius: 6px;
  background: #81e19f;
  color: white;
  font-family: "Itim", cursive;
}

button {
  border: none;
  padding: 5px;
  background: none;
  font-family: "Itim", cursive;
}
