@import "/src/styles/variable.scss";

.container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  gap: 15px;
  margin-left: 55px;

  .contentBox {
    display: flex;
    flex-direction: row;
    gap: 20px;
    .subContentBox {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .bottomBox {
    display: flex;
    gap: 52px;
  }
}
