@import "/src/styles/variable.scss";

.container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  gap: 15px;
  margin-left: 55px;

  .contentBox {
    display: flex;
    flex-direction: row;
    gap: 20px;
    @media (max-width: map-get($breakpoints, lg)) {
      flex-wrap: wrap-reverse;
    }
    .subContentBox {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (max-width: map-get($breakpoints, md)) {
        display: none;
      }
    }
  }
  .bottomBox {
    display: flex;
    gap: 52px;
    @media (max-width: map-get($breakpoints, lg)) {
      flex-direction: column;
    }
  }
}
