@import "/src/styles/variable.scss";

.container {
  display: flex;
  background-color: #f5f8ee;
  min-width: 98.3vh;
  max-width: 98.3vw;
  min-height: 97.5vh;

  @media (max-width: map-get($breakpoints, sm)) {
    max-width: 390px;
  }
  @media (max-width: map-get($breakpoints, md)) {
    max-width: 430px;
  }
}
