// breakpoints
$breakpoints: (
  xs: 340px,
  sm: 500px,
  md: 767px,
  lg: 991px,
  xl: 1199px,
);

$borderRadius: (
  sm: 5px,
  md: 10px,
  lg: 15px,
  xl: 25px,
);

$gap: (
  sm: 5px,
  md: 10px,
  lg: 15px,
  xl: 25px,
);
