@import "/src/styles/variable.scss";
.container {
  display: flex;
  align-items: center;
  width: 98vw;
  margin-top: 70px;
  flex-direction: column;
  align-items: center;

  @media (max-width: map-get($breakpoints, md)) {
    width: 98vw;
  }

  .imgBoxRight {
    display: flex;
    width: 100%;
    position: relative; /* Add this line to make the image container a positioning context */
    justify-content: center;

    .imgBoxDesktop {
      width: 100%;
      height: 500px;
      object-fit: fill;
      @media (max-width: map-get($breakpoints, md)) {
        height: 200px;
      }
    }
  }
  .text {
    text-align: center;
    color: #ffffff;
    box-shadow: 0px 0px 10px rgba(253, 141, 4, 0.2);
    border-radius: 15px;
    width: 300px;
    height: 40px;
    margin-top: -30px; /* Adjust the vertical position */
    padding: 10px 5px;
    border: solid 1px #ffffff;
    position: absolute;
    bottom: 10px; /* Adjust the vertical position */
    left: 50%; /* Center the button horizontally */
    transform: translateX(-50%); /* Center the button horizontally */
    z-index: 1; /* Ensure the button is above the image */
    overflow: hidden;
    @media (max-width: map-get($breakpoints, md)) {
      width: 150px;
      height: 20px;
      font-size: 16px;
    }

    &:hover {
      cursor: pointer;
      background-color: #35f4a5;
      color: #fff;
      border: solid 3px #fff;
      animation: none; /* Disable blinking on hover */
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        transparent,
        #25eec6a2,
        transparent
      );
      animation: blink 1s infinite alternate;
    }

    &:before {
      left: -20%;
      animation-delay: 0.5s;
    }

    &::after {
      right: -20%;
      animation-delay: 1s;
    }
  }

  @keyframes blink {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }

  .imgBoxLeft {
    display: flex;
    width: 98vw;
    align-items: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    @media (max-width: map-get($breakpoints, md)) {
      width: 98vw;
    }

    .imgMobile {
      height: 400px;
      animation: tiltAnimation 4s infinite alternate;
      object-fit: contain;
      border-radius: 36px;
      box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.5);
      margin-left: 20px;
      @media (max-width: map-get($breakpoints, md)) {
        height: 150px;
        border-radius: 16px;
      }
    }
    .imgText {
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      .shimpImg {
        width: 600px;
        object-fit: contain;

        @media (max-width: map-get($breakpoints, lg)) {
          width: 450px;
        }
        @media (max-width: map-get($breakpoints, sm)) {
          width: 200px;
        }
      }
    }
  }
}

@keyframes tiltAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
